@tailwind base;
@tailwind components;
@tailwind utilities;
/* font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-stretch: 100%;
font-display: fallback; */

body {
    @apply font-sans;
  }